* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #020617;
    color: #e5e7eb;
    font-family: "Courier New", monospace;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #0f172a;
    align-items: center;
}

.logo {
    color: #22c55e;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    color: #94a3b8;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #22c55e;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 20px;
}

.terminal {
    color: #22c55e;
    margin-bottom: 10px;
}

h1 {
    font-size: 42px;
}

h1 span {
    color: #22c55e;
}

.desc {
    max-width: 600px;
    margin: 20px 0;
    color: #94a3b8;
}

.btn {
    background: #22c55e;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover {
    background: #16a34a;
}