
body {
    background: #020617;
    color: white;
    font-family: Arial;
}

/* SAME NAV */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.skills {
    text-align: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* GLASS CARD */
.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    width: 200px;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #22d3ee;
}
